@import url(./fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1265px;
    padding: 0 16px;
    margin: 0 auto;
}

.tittle {
    padding-bottom: 20px;
    padding-top: 120px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #383838;
}

.tittle::after {
    content: " ";
    display: block;
    width: 100px;
    height: 4px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 80px;
    border: none;
    background: #F5BD41;
}

.icon-wrapper {
    height: 100px;
}

.item {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    margin-bottom: 120px;
    flex-wrap: wrap;
}

.item-text {
    margin-top: 48px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #383838;
}

header {
    background-image: url(../images/castelmezzano-1979546\ 1.png);
    background-color: fuchsia;
    height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
}

.nav {
    padding-top: 51px;
    display: flex;
    justify-content: space-between;
}

.nav-content {
    display: flex;
    align-items: center;
}

.nav-content-text {
    margin-right: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.nav-content-icon {
    margin: 0 24px 0 24px;
}

h1 {
    padding-bottom: 100px;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;
}

.search-block {
    width: 1232px;
    padding-top: 196px;
}

.user-request {
    height: 64px;
    display: flex;
    background-color: #FFFFFF;
    border-radius: 8px;
}

label {
    padding-left: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.date-name {
    padding-left: 221px;
}

.request-item {  
    background: #FFFFFF;
    border-radius: 8px;
    outline: none;
    border: none;
    border: solid 3px #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #383838;
}

.request-item:nth-of-type(1) {
    width: 467px;
    padding-left: 24px;
}

.request-item:nth-of-type(2) {
    width: 259px;
}

.request-item:nth-of-type(3) {
    width: 314px;
}

.search-button {
    width: 192px;
    background-color: #3077C6;
    color: #FFFFFF;
    border: 3px solid #3077C6;
    border-radius: 8px;
    font-style: normal;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
}

.search-block-items {
    padding-bottom: 24px;
}

.request-item:focus {
    border: 3px solid #F5BD41;
    outline: none;
}

.search-block-download {
    width: 270px;
    margin: 120px auto 0;
    display: flex;
    justify-content: space-between;
}

.line::after {
    position: absolute;
    content: " ";
    display: block;
    width: 50px;
    height: 4px;
    margin: 0 auto;
    border: none;
    margin-top: 12px;
    margin-left: 5px;
    background: #F5BD41;
}

footer {
    background: #10367C;
}

li {
    list-style-type: none;
}

.list-block-columns-name {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.8em;
    color: #FFFFFF;
    text-decoration: none;
}

.list-block-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 2.4em;
    color: #FFFFFF;
    text-decoration: none;
}

.copyright {
    padding-bottom: 120px;
    padding-top: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.list-block {
    display: flex;
    padding-top: 120px;
    flex-wrap: wrap;
}

.list-block-item:nth-last-of-type(3) {
    padding-right: 226px;   
}

.list-block-item:nth-last-of-type(2) {
    padding-right: 284px;   
}

@media only screen and (max-width: 768px) {
    .item {
        width: 100%;
    }
    ul {
        width: 100%;
    }
    .copyright {
    padding-left: 100px;
    }
}