@import url(./fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1264px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}

.tittle {
    padding-top: 120px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #383838;
}

.line:after {
    content: " ";
    position: relative;
    display: block;
    width: 100px;
    height: 4px;
    margin: 0 auto;
    margin-top: 20px;
    border: none;
    background: #F5BD41;
}

.icon-wrapper {
    height: 100px;
}

.item {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    padding: 120px 0;
}

.item-text {
    margin-top: 48px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #383838;
}

header {
    background-image: url(../images/castelmezzano-1979546\ 1.png);
    background-color: fuchsia;
    height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
}

.nav {
    padding-top: 51px;
    margin-bottom: 196px;
    display: flex;
    justify-content: space-between;
}

.nav-content{
    display: flex;
    column-gap: 48px;
}

.nav-content_item {
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.nav-content_icon {
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.nav-content_text {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.nav-content_icon-menu{
    display: none;
}

h1 {
    width: 540px;
    margin-bottom: 145px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
}

.search-form {
    display: flex;
    line-height: 21px;
    background-color: #FFFFFF;
    height: 64px;
    border-radius: 8px;
}

.search-form_group {
    display: flex;
    position: relative;
}

input {
    border: none;
    outline: none;
    font-size: 18px;
    line-height: 21px;
}

.destination {
    max-width: 467px;
    width: 100%;
}

.destination_input {
    width: 100%;
    border-radius: 8px;
}

.destination_label {
    transition: all .25s;
}

.search-form label {
    position: absolute;
    left: 24px;
    top: calc(50% - 21px / 2);
}

.check {
    max-width: 259px;
    width: 100%;
    border-radius: 8px;
    display: flex;
    border: 3px solid #F5BD41;
}

.check_label {
    display: none;
    transition: all .25s;
}

.check_label-desktop {
    display: inline-block;
}

.check_input {
    width: 50%;
    border-radius: 8px;
}

.other-info {
    max-width: 314px;
    width: 100%;
}

.other-info_input {
    width: 33.3%;
}

.other-info_label {
    display: none;
}

.other-info_label-desktop {
    display: inline-block;
}

.search-form_button {
    max-width: 192px;
    width: 100%;
    background-color: #3077C6;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

.destination_input:not(:placeholder-shown) + .destination_label,
.destination_input:focus + .destination_label,
.check_input:not(:placeholder-shown) ~ .check_label-desktop,
.check_input:focus ~ .check_label-desktop,
.other-info_input:not(:placeholder-shown) ~ .other-info_label-desktop,
.other-info_input:focus ~ .other-info_label-desktop {
    transform: translateY(-65px);
    color: #FFFFFF;
    transition: all .25s;
}

.other-info_label-desktop {
    transition: all .25s;
}

.search-form_group input:first-of-type {
    padding-left: 24px;
}

.search-block-download {
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.search-block-download-item {
    padding-left: 16px;
}

.nav-content_underline::after {
    position: absolute;
    content: " ";
    display: block;
    width: 50px;
    height: 4px;
    margin: 0 auto;
    border: none;
    margin-top: 12px;
    margin-left: 5px;
    background: #F5BD41;
}

footer {
    padding: 0 16px;
    margin: 0 auto;
    background: #10367C;
}

li {
    list-style-type: none;
}

.footer-block_content-logo {
    display: none;
}

.footer-block {
    display: flex;
    flex-direction: column;
}

.list-block-columns-name {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.8em;
    color: #FFFFFF;
    text-decoration: none;
}

.list-block-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 2.4em;
    color: #FFFFFF;
    text-decoration: none;
}

.copyright {
    padding: 50px 0 120px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.footer-block_content {
    display: flex;
    padding-top: 120px;
    justify-content: space-around;
}

.footer-block_content-item {
    width: 24%;
    margin-right: 100px;
}

.background {
    background: #EAF0F9;
}

.homes-block {
    padding-top: 104px;
    display: flex;
}

.homes-block_item {
    width: 25%;
    padding: 0 8px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
}

.homes-block_item-text-regions {
    text-decoration: none;
    margin-top: 24px;
    font-size: 24px;
    color: #3077C6;
}

.homes-block_item-text {
    margin-top: 24px;
    font-size: 24px;
    color: #BFBFBF;
}

.tab {
    display: flex;
    padding-top: 104px;
}

.tab_button:nth-last-of-type(3)  {
    max-width: 192px;
    width: 100%;
    height: 64px;
    border: 0;
    border-radius: 8px;
    background-color: #F3F3F4;
    font-size: 24px;
    color: #383838;
}

.tab_button:nth-last-of-type(2)  {
    max-width: 192px;
    width: 100%;
    height: 64px;
    border: 0;
    border-radius: 8px;
    background-color: #F3F3F4;
    font-size: 24px;
    color: #383838;
}

.tab_button:nth-last-of-type(1)  {
    max-width: 238px;
    width: 100%;
    height: 64px;
    border: 0;
    border-radius: 8px;
    background-color: #F3F3F4;
    font-size: 24px;
    color: #383838;
}

.tab_button:hover {
    background-color: #3077C6;
}

.tab_button-text {
    text-decoration: none;
    color: #383838;
}

.tab_button-text:hover {
    color: #FFFFFF;
}

.regions-block {
    padding-top: 64px;
    display: flex;
}

.regions-block_item {
    width: 25%;
    padding: 0 8px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
}

.signup-block {
    height: 200px;
    display: flex;
    background: #EAF0F9;
}

.signup-block_icon {
    display: flex;
    padding-left: 24px;
}

.signup-block_item {
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 21px;
}

.signup-block_button {
    background: #FFFFFF;
    border: 1px solid #3077C6;
    border-radius: 8px;
    color: #3077C6;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    max-width: 128px;
    width: 100%;
    height: 48px;
}

.signup-block_text {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #383838;
}

.loupe-icon {
    display: none;
}

.reviews {
    padding-top: 104px;
    display: flex;
    column-gap: 16px;
}

.reviews-block_content {
    max-width: 400px;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.reviews-content_info {
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

.bali {
    background-image: url(../images/bali.svg);
}

.rotterdam {
    background-image: url(../images/rotterdam.svg);
}

.ourika {
    background-image: url(../images/Ourika.svg);
}

.navigation {
    display: none;
}

.reviews-block_item {
    height: 48px;
    padding-top: 16px;
    padding-left: 24px;
    background: rgba(56, 56, 56, 0.7);
}

.reviews-block_item-text {
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}

.reviews-content_info_location {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.reviews-content_info_rating {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 8px;
}

.reviews-content_info_rating-image {
    max-width: 48px;
    width: 100%;
    height: 32px;
}

.reviews-content_info_location-apartments-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #3077C6; 
}

.reviews-content_info_location-place-text {
    font-size: 18px;
    line-height: 21px;
    color: #3077C6;
}

.reviews-content_info_location-reviews-text {
    font-size: 14px;
    line-height: 16px;
    color: #BFBFBF;
}

.reviews-content_user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.reviews-content_user {
    display: flex;
    column-gap: 15px;
    padding: 0 24px 24px;
}

.reviews-content_user-info-name {
    font-size: 18px;
    line-height: 21px;
}

.reviews-content_text {
    max-width: 400px;
    width: 100%;
    padding: 0 24px;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 120px;
}

.flag-ukraine {
    max-width: 83px;
    width: 100%;
    height: 21px;
}

.flag-USA {
    max-width: 57px;
    width: 100%;
    height: 21px;
}

.flag-Germany {
    max-width: 95px;
    width: 100%;
    height: 21px;
}

.reviews-block:nth-child(2) {
    background-color: #EAF0F9;
}

.reviews-block:nth-child(3) {
    background-color: #EAF0F9;
}

.signup-block-mobbile {
    display: none;
}

.signup-block-mobbile_install {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #3077C6;
    text-decoration: none;
}

.signup-block-mobbile_text {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

@media only screen and (max-width: 1024px) {
    .search-form {
        flex-direction: column;
        height: unset;
        background-color: #F5BD41;
        padding: 8px;
    }

    header {
        height: 950px;
    }

    .search-block-download {
        margin-top: 32px;
    }

    .nav {
        padding-top: 12px;
    }

    .search-form_group {
        margin-bottom: 8px;
    }

    .search-form input {
        height: 50px;
        border-radius: 4px;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
    }

    .search-form label {
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
    }

    .destination, .check, .other-info {
        max-width: unset;
    }

    .search-form_group .check_input.check_input,
    .search-form_group .other-info_input.other-info_input {
        padding-left: 8px;
    }

    .loupe-icon {
        display: inline-block;
        position: absolute;
        width: 16px;
        height: 16px;
        color: #BFBFBF;
        top: 16px;
        left: 12px;
    }

    .search-form input.destination_input {
        padding-left: 36px;
    }

    .search-form label {
        left: 8px;
    }

    .search-form .destination_label {
        left: 36px;
    }

    .check_label, .other-info_label {
        display: inline-block;
    }

    .check_label-desktop, .other-info_label-desktop {
        display: none;
    }

    .check_label:nth-child(4) {
        position: absolute;
        left: calc(50% + 4px + 8px);
    }

    .check_input:not(:first-child) {
        margin-left: 8px;
    }

    .other-info_input {
        width: 33.3%;
        margin-right: -1px;
    }

    .search-form .other-info_input {
        border-radius: 0;
    }

    .other-info label:nth-child(5) {
        position: absolute;
        left: calc(33.3% + 8px);
    }

    .other-info label:nth-child(8) {
        position: absolute;
        left: calc(33.3% * 2 + 8px);
    }

    .divider {
        height: 32px;
        width: 1px;
        background-color: #BFBFBF;
        transform: translateY(33%);
    }

    .search-form_button {
        max-width: unset;
        height: 50px;
        width: 100%;
    }

    .destination_input:not(:placeholder-shown) + .destination_label,
    .destination_input:focus + .destination_label,
    .check_input:not(:placeholder-shown) + .check_label,
    .check_input:focus + .check_label,
    .other-info_input:not(:placeholder-shown) + .other-info_label,
    .other-info_input:focus + .other-info_label {
        transform: translateY(-15px);
        color: #383838;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        transition: all .25s;
    }

    .footer-block {
        align-items: center;
    }

}

@media only screen and (max-width: 640px) {
    h1 {
        font-size: 30px;
        width: auto;
        margin-bottom: 40px;
    }

    header {
        height: 750px;
    }

    .nav-content_icon-menu {
        display: inline-block;
    }

    .nav-content_item {
        display: none;
    }

    .nav-content_icon-menu-icon {
        display: inline-block;
    }

    .signup-block_text {
        font-size: 12px;
    }

    .tab {
        padding-top: 50px;
    }

    .tittle {
        padding-top: 60px;
    }
    
    .row {
        flex-direction: column;
        align-items: center;
    }

    .item-text {
        margin: 16px 0 32px;
    }

    .line:after {
        display: none;
    }

    .homes-block_item {
        width: 50%;
    }

    .homes-block {
        padding-top: 50px;
    }

    .homes-block div:nth-child(3) {
        display: none;
    }

    .homes-block div:nth-child(4) {
        display: none;
    }

    .regions-block div:nth-child(3) {
        display: none;
    }

    .regions-block div:nth-child(4) {
        display: none;
    }
    
    .regions-block_item {
        width: 50%;
    }

    #cut {
        display: none;
    }

    .list-block-text {
        display: none;
    }

    .copyright {
        padding: 32px 0 40px;
        font-size: 12px;
        line-height: 14px;
    }

    .footer-block_content-logo {
        display: inline-block;
        padding-top: 40px;
    }

    .footer-block_content {
        padding-top: 40px;
        column-gap: 16px;
    }
    
    .list-block-columns-name {
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        text-decoration: underline;
    }

    .footer-block_content-item {
        margin: unset;
        width: unset;
    }

    .reviews-block:nth-child(2) {
        display: none;
    }

    .reviews-block:nth-child(3) {
        display: none;
    }

    .reviews {
        justify-content: center;
        padding-top: 50px;
    }

    .reviews-content_text {
        margin-bottom: 60px;
    }
}

@media only screen and (max-width: 360px) {
    .logo {
        width: 122px;
        height: 24px;
    }

    .search-block-download {
        margin-top: 32px    ;
    }

    .nav {
        margin-bottom: 40px;
    }

    .nav-content_icon-night {
        width: 16px;
        height: 16px;
    }

    .nav-content_icon-account {
        width: 24px;
        height: 24px;
    }

    .item-text {
        font-size: 15px;
        line-height: 18px;
    }

    .tittle {
        padding-top: 40px;
        font-weight: 600;
        font-size: 28px;
        line-height: 33px;
    }

    .homes-block {
        padding-top: 32px;
    }

    .homes-block_item-icon {
        width: 156px;
        height: 156px;
    }

    .homes-block_item-text-regions {
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        margin-top: 8px;
    }

    .homes-block_item-text {
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        margin-top: 4px;
    }

    .tab {
        padding-top: 32px;
        column-gap: 16px;
    }

    .regions-block_item_icon {
        width: 156px;
        height: 156px;
    }

    .regions-block {
        padding-top: 24px;
    }
    
    .tab_button-text {
        font-weight: normal;
        font-size: 19px;
        line-height: 22px;
    }

    .tab_button:nth-last-of-type(3) {
        max-width: 98px;
        height: 32px;
    }

    .tab_button:nth-last-of-type(2) {
        max-width: 98px;
        height: 32px;
    }

    .tab_button:nth-last-of-type(1) {
        max-width: 98px;
        height: 32px;
    }

    .signup-block-mobbile {
        display: inline-block;
        display: flex;
        column-gap: 16px;
        align-items: center;
        padding: 0 16px;
    }

    .signup-block {
        display: none;
    }

    .signup-block-mobbile {
        padding: 24px 16px;
    }

    #Guests-remove {
        display: none;
    }

    .homes-block_item {
        margin-bottom: 40px;
    }

    .container:nth-child(6) {
        background-color: #EAF0F9;
    }

    .reviews {
        padding-top: 32px;
    }

    .reviews-block_content {
        max-width: 327px;
        width: 100%;
        height: 325px;
    }

    .reviews-content_info_location {
        row-gap: 8px;
    }

    .reviews-content_info_rating {
        row-gap: 4px;
    }

    .reviews-content_info {
        padding: 12px 0px;
    }

    .reviews-content_user {
        padding: 12px 0 16px;
    }

    .reviews-content_text {
        padding: unset;
    }

    .navigation {
        display: inline-block;
        padding: 0 0 40px 136px;
        
    }

    .reviews-content_text {
        margin-bottom: 32px;
        font-size: 15px;
        line-height: 18px;
    }

    .reviews-content_info_location-apartments-text {
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
    }

    .reviews-content_info_location-place-text {
        font-size: 15px;
        line-height: 18px;
    }

    .reviews-content_user-info-name {
        font-size: 15px;
        line-height: 18px;
    }

    .flag-ukraine {
        max-width: 74px;
        height: 17px;
    }

    .reviews-content_user-logo {
        max-width: 43px;
        height: 43px;
    }

    .reviews-content_info_rating-image {
        max-width: 39px;
        height: 26px;
    }

    .reviews-content_info_location-reviews-text {
        font-size: 12px;
        line-height: 14px;
    }

    .regions-block_item {
        margin-bottom: 40px;
    }
}