.main {
text-align: center;
margin: auto;
max-width: 1230px;
height: 569px;
}
.heading {
position: absolute; 
width: 306px;
left: 662px;
top: 120px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 47px;
color: #383838;
}
h2 {
position: absolute;
width: 100px;
left: 770px;
height: 4px;
top: 207px;
background: #F5BD41;
}
.head-set {
position: absolute;
width: 100px;
top: 271px;
left: 302px;
}
.support {
position: absolute;
width: 141px;
left: 281px;
top: 419px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #383838;
}
.forum-outlined {
position: absolute;
width: 100px;
left: 613px;
top: 271px;
}
.communicate {
position: absolute;
width: 296px;
left: 516px;
top: 419px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #383838;
}
.divece-outlined {
position: absolute;
width: 100px;
left: 926px;
top: 271px;
}
.book-online {
position: absolute;
width: 168px;
left: 892px;
top: 419px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #383838;
}
.thumb {
position: absolute;
width: 100px;
left: 1230px;
top: 271px;
}
.real-guest {
position: absolute;
width: 225px;
left: 1177px;
top: 419px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #383838;
}